@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e5e5e5;
  --secondary: rgb(199, 199, 199);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

/* *::-webkit-scrollbar-track {
  background: var(--primary);
} */

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1.25rem;
}
body {
  background-color: #2d3967;
}
